# =====================
# Python
# =====================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# =====================
# Virtual environment (venv)
# =====================
venv/
.env/
.venv/
ENV/

# =====================
# IDEs
# =====================
.vscode/
.idea/

# =====================
# FastAPI / Uvicorn logs
# =====================
*.log

# =====================
# Variáveis de ambiente
# =====================
.env

# =====================
# Banco de dados / dumps
# =====================
*.sql
*.sqlite
*.db

# =====================
# Sistema Linux/Mac
# =====================
.DS_Store